/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  height: 44px;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: .8;
  z-index: 9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  text-align: center;
  display:inline-block;
  margin-top: 12px;
  text-decoration: none;
  font-size: 14px;
  color: #dcdcde;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}
body{
  margin: 0;
  text-align: center;
  background-color: white;

}
.head{
  background-color: #F5F5F7;
  height: 64px;
  margin-top: 44px;
}
.headparagraph{
  font-size: 14px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
  padding: 20px 20px 12px 20px;
  line-height: 1.47059;
  letter-spacing: -.022em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: #1d1d1f;
  display: inline-block;
  position: relative;

}
.gif{
  height:330px;
  width:330px;
  position: absolute;
  top: 275px;
  left: 37.5%;
}
.blackh1{
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  font-size: 48px;
  letter-spacing: -.002em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 53px;
}
.whiteh1{
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  font-size: 48px;
  letter-spacing: -.002em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 53px;
}
.learn{
  font-size: 19px;
line-height: 1.21053;
font-weight: 400;
letter-spacing: .012em;
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #06c;
letter-spacing: inherit;
position: relative;
top: 14.060px;
}
.learn:hover{
  border-bottom: 2px solid currentColor;
  color: #06c;
}
h3{
  font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        color: #86868b;
  margin-top: 0px;
  margin-bottom: 0px;
}
.studentb{
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  font-size: 24px;
  letter-spacing: .009em;
  margin-top: 5px;
  margin-bottom: 13.600px;
}
.studentw{
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  font-size: 24px;
  letter-spacing: .009em;
  margin-top: 5px;
  margin-bottom: 13.600px;
}
.member1{
  background-color: #FBFBFD;
  height: 400px;
  margin-top: 0px;
}
.member2{
  background-color: #000000;
  height: 400px;
  margin-top: 12px;
}
.member3{
  background-color: #FBFBFD;
  height: 400px;
  margin-top: 12px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.license{
  color: #EAF6F6;
  font-size: 0.75rem;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding: 20px 0;
}
.footer-link{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAf6f6;
}
.member{
  margin: 0 auto;
  width: 500px;
}

.btn {
  cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
    margin-top: 0px;
}
.btn:hover {
  background: #0077ED;
  text-decoration: none;
}
.underline{
  text-decoration: underline;
}
